.pchef {
    width: 100%;
    background-color: #f8e8d9
}

.pchef h4 {
    text-align: center;
    font-size: 50px;
    color: black;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.two div {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column; /* Align content vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    background-color: white;
    border-radius: 4%;
    margin: 5px; /* Add margin for spacing between divs */
}

.two div img {
    max-height: 40%; /* Adjust image size */
    width: auto;
    display: block;
}

.two div h4 {
    text-align: center; /* Center the paragraph text */
    margin-top: 10px; /* Add margin on top of the paragraph */
    font-size: 20px;
    color: orangered;
}
.two div p {
    text-align: center; /* Center the paragraph text */
    margin-top: 5px; /* Add margin on top of the paragraph */
   
}
.two div h1{
    font-size: 20px;
    color: green;
}